<launch>

	<arg name="speed" default="1." />
	<arg name="saveparams" default="false" />

	<arg name="path" default="$(find rosppl)/../vicpark/" />
	<arg name="bagfile" default="normal.bag" />

	<param name="webppl_path" value="$(find rosppl)/scripts/" />
	<param name="model_file" value="model_vicpark.wppl" />


	<!-- <node name="save_params" pkg="rosppl" type="save_params_history.py"  respawn="false" /> -->
	<!-- if="$(eval saveparams == 'true')" -->

	<node name="rosppl_node" pkg="rosppl"  type="listener.js" launch-prefix="taskset -c 4" respawn="true" output="screen"/>
	<node name="vicpark_publish" pkg="rosppl" type="vicpark_trees_publish.py" respawn="true" />
	
	<node pkg="rosbag" type="play" name="vicpark_bag_player_required" respawn="true"
		  args="--clock $(arg path)$(arg bagfile) -r $(arg speed) --wait-for-subscribers --topics /map /trees /dead_reckoning /ground_truth_odom /parameters/sig_r_true /parameters/sig_b_true /parameters/sig_s_true /parameters/sig_v_true"  />

	<node pkg="rostopic" type="rostopic" name="$(anon nowait_topic_1)" args="echo /parameters/sig_r_true" />
	<node pkg="rostopic" type="rostopic" name="$(anon nowait_topic_2)" args="echo /parameters/sig_b_true" />
	<node pkg="rostopic" type="rostopic" name="$(anon nowait_topic_3)" args="echo /parameters/sig_v_true" />
	<node pkg="rostopic" type="rostopic" name="$(anon nowait_topic_4)" args="echo /parameters/sig_s_true" />


	
	<!-- <node pkg="rosbag" type="play" name="vicpark_bag_player_optional" output="screen" 
		args="$(arg path)$(arg bagfile) - -pause-topics /maps /trees /dead_reckoning" /> -->
	
	<node pkg="rviz" type="rviz" name="visualization" args="-d $(find rosppl)/scripts/config.rviz" />
</launch>
